.error-template { padding: 40px 15px; text-align: center; }
.error-actions { margin-top:15px; margin-bottom:15px; }
.err-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    padding: 50px 15px;
}