<footer>
    <section class="container">
        <div class="row">
            <div class="col">
                <h4>Contate-nos</h4>
                <ul class="emails no-padding">
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <strong>Email:</strong> <a href="#">suporte@exchange.com</a></li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <strong>Email:</strong> <a href="#">parceiros@exchange.com</a></li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <strong>Email:</strong> <a href="#">fale@exchange.com</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Serviços</h4>
                <ul class="no-padding">
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Seja um </a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Trabalhe conosco</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Políticas</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Relação com Investidores</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Doações</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Informações</h4>
                <ul class="no-padding">
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Frete</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Devolução</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">F.A.Q</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Newsletter</h4>
                <p>Assine a nossa newsletter e fique por dentro</p>
                <form action="#" class="form-inline">
                    <input type="text" placeholder="Seu e-mail">
                    <button type="submit">OK</button>
                </form>
            </div>
        </div>
    </section>
    <section class="lower container-fluid">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <p>Exchange <i class="fa fa-copyright" aria-hidden="true"></i> Todos os direitos reservados</p>
                <p>
                    <a href="#">
                        <img src="assets/img/landing-page/fb-icon.png" alt="Second slide"
                             srcset="assets/img/landing-page/fb-icon.png 1x,assets/img/landing-page/fb-icon@2x.png 2x">   
                    </a>
                </p>
            </div>
        </div>
    </section>
</footer>