<header>
    <section class="container-fluid">
        <nav class="container no-padding d-flex justify-content-between align-items-center">
            <div class="menu-trigger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <a class="" [routerLink]="['/']">
                    <img src="assets/img/landing-page/logo.png" alt="Logo Exchange"
                         srcset="assets/img/landing-page/logo.png 1x,assets/img/landing-page/logo@2x.png 2x">
                </a>
                <div class="itens-menu ml-4">
                    <a class="" href="#">Quem Somos</a>
                    <a class="" href="#">Parceiros</a>
                </div>
            </div>
            
            <div class="d-flex justify-content-around align-items-center">
                <a [routerLink]="['/login']" class="login-mobile">Entrar</a>
                <div class="login-desktop">
                    <a [routerLink]="['/register']" class="">Cadastrar</a>
                    <a [routerLink]="['/login']" class="">Entrar</a>
                </div>
            </div>
        </nav>
    </section>
    <section class="container-fluid header-banner">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <h1>Faça parte do mais novo site de
                        <u>troca</u> de livros</h1>
                    <p class="caption-banner">Feito por gente que também acredita na
                        <u>mágica</u> dos livros. Cadastre-se e saiba mais</p>
                    <a class="btn" [routerLink]="['/register']">Cadastrar</a>
                </div>
                <div class="col img-banner">
                    <img src="assets/img/landing-page/banner-img.png" alt="Imagem de um livro com letras saíndo dele"
                         srcset="assets/img/landing-page/banner-img.png 1x,assets/img/landing-page/banner-img@2x.png 2x">
                </div>
            </div>
        </div>
    </section>
</header>