//Cores
$branco: #fff;
$preto: #000;

//Variaveis
$primary-color: #00aeef;
$secondary-color: #2980b9;

//Fonts
$raleway: 'Raleway', sans-serif;
$open-sans: "Open Sans", "sans serif";
$oswald: 'Oswald', sans-serif;

//Rescursos de Imagem
$img-dir: "../img/landing-page/";