<main>
    <section class="container">
        <h1 class="title1">Novos Itens</h1>
        <div class="row">
            <div class="card-deck col-12">
                <div class="card">
                    <div class="card-block">
                        <img src="assets/img/card-img.jpg" alt="Imagem do Livro">
                        <h3 class="card-title">Sun Tzu - A arte da guerra</h3>
                        <p class="card-text"><a href="#">Ver detalhes</a></p>
                        <p class="card-price">$ 15</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <img src="assets/img/card-img.jpg" alt="Imagem do Livro">
                        <h3 class="card-title">Sun Tzu - A arte da guerra</h3>
                        <p class="card-text"><a href="#">Ver detalhes</a></p>
                        <p class="card-price">$ 15</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <img src="assets/img/card-img.jpg" alt="Imagem do Livro">
                        <h3 class="card-title">Sun Tzu - A arte da guerra</h3>
                        <p class="card-text"><a href="#">Ver detalhes</a></p>
                        <p class="card-price">$ 15</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="secondary-slider">
                    <h4>Mais vistos</h4>
                    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img alt="First slide" src="assets/img/slider/01.jpg">
                                <div class="carousel-caption">
                                    <p class="book-name">Livro do Jogador</p>
                                    <p class="book-price">$ 169</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img alt="Second slide" src="assets/img/slider/02.jpg">
                                <div class="carousel-caption">
                                    <p class="book-name">Livro do Mestre</p>
                                    <p class="book-price">$ 140</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img alt="Third slide" src="assets/img/slider/03.jpg">
                                <div class="carousel-caption">
                                    <p class="book-name">Manual dos Monstros</p>
                                    <p class="book-price">$ 125</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partner col-sm-9">
                <h2>Patrocinado</h2>
                <div class="card card-inverse mb-3">
                    <div class="card-block">
                        <p>Assista a vídeos de nossos patrocinadores e ganhe pontos que você pode trocar por livros!</p>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card card-inverse mb-3">
                        <div class="card-block">
                            <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
                        </div>
                        <div class="card-footer">
                            Lord of The Rings - Battle of Helms Deep Opening
                        </div>
                    </div>
                    <div class="card card-inverse mb-3">
                        <div class="card-block">
                            <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
                        </div>
                        <div class="card-footer">
                            Lord of The Rings - Battle of Helms Deep Opening
                        </div>
                    </div>
                    <div class="card card-inverse mb-3">
                        <div class="card-block">
                            <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
                        </div>
                        <div class="card-footer">
                            Lord of The Rings - Battle of Helms Deep Opening
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <h1 class="title1">Sugeridos para você</h1>
        <div class="row">
            <div class="card-deck col-12">
                <div class="card">
                    <div class="card-block">
                        <img src="assets/img/card-img.jpg" alt="Imagem do Livro">
                        <h3 class="card-title">Sun Tzu - A arte da guerra</h3>
                        <p class="card-text"><a href="#">Ver detalhes</a></p>
                        <p class="card-price">$ 15</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <img src="assets/img/card-img.jpg" alt="Imagem do Livro">
                        <h3 class="card-title">Sun Tzu - A arte da guerra</h3>
                        <p class="card-text"><a href="#">Ver detalhes</a></p>
                        <p class="card-price">$ 15</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <img src="assets/img/card-img.jpg" alt="Imagem do Livro">
                        <h3 class="card-title">Sun Tzu - A arte da guerra</h3>
                        <p class="card-text"><a href="#">Ver detalhes</a></p>
                        <p class="card-price">$ 15</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <img src="assets/img/card-img.jpg" alt="Imagem do Livro">
                        <h3 class="card-title">Sun Tzu - A arte da guerra</h3>
                        <p class="card-text"><a href="#">Ver detalhes</a></p>
                        <p class="card-price">$ 15</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--<main>
    <section class="container step-by-step d-flex flex-column align-items-center">
        <h1>Tá legal, mas como Funciona?</h1>
        <h2>É simples! Basta seguir o
            <u>Passo-a-Passo</u>
        </h2>
    </section>
    <section class="steps container-fluid">
        <div class="step-item container">
            <div class="rounded-circle step-number">01</div>
            <div class="step-desc">
                <p class="title">Cadastro</p>
                <p>Você preenche um formulário no site e se cadastra, o que é bem rapidinho...</p>
            </div>
        </div>
        <div class="step-item container">
            <div class="rounded-circle step-number">02</div>
            <div class="step-desc">
                <p class="title">Ganha Pontos</p>
                <p class="desc">Ganhar é sempre bom né? Então para isso basta você assistir alguns vídeos dos nossos patrocínadores e pronto!
                    Ahh e os vídeos são bem curtinhos vai...</p>
            </div>
        </div>
        <div class="step-item container">
            <div class="rounded-circle step-number">03</div>
            <div class="step-desc">
                <p class="title">Troca seus pontos</p>
                <p class="desc">Agora é a parte legal! Você procura por aquele livro que você quer e troca ele pelos seus pontos. Legal né?</p>
            </div>
        </div>
        <div class="step-item container">
            <div class="rounded-circle step-number">04</div>
            <div class="step-desc">
                <p class="title">Anuncia seus livros</p>
                <p class="desc">Precisando de espaço na casa? Nós te ajudamos! Você anuncia aqueles livros que você já leu, assim outra pessoa
                    pode ler ele, e assim você ainda ganha pontos por isso.</p>
            </div>
        </div>
    </section>
    <section class="container-fluid slider">
        <div class="container d-flex align-items-center flex-column">
            <h1>Veja o que as pessoas estão falando do Exchange</h1>
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="rounded-circle" alt="First slide" src="assets/img/landing-page/slider/01.png" 
                             srcset="assets/img/landing-page/slider/01.png 1x,assets/img/landing-page/slider/01@2x.png 2x">
                        <div class="carousel-caption">
                            <p>"Build the wall! Oh no...wait"</p>
                            <p class="quote-author">Daniel Krause</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle" alt="First slide" src="assets/img/landing-page/slider/02.png" 
                             srcset="assets/img/landing-page/slider/02.png 1x,assets/img/landing-page/slider/02@2x.png 2x">
                        <div class="carousel-caption">
                            <p>"É muito absurdo! Genial!"</p>
                            <p class="quote-author">Carlos de Carvalho</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle" alt="First slide" src="assets/img/landing-page/slider/03.png" 
                             srcset="assets/img/landing-page/slider/03.png 1x,assets/img/landing-page/slider/03@2x.png 2x">
                        <div class="carousel-caption">
                            <p>"Oh loco meu!"</p>
                            <p class="quote-author">Faustão</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="facebook container d-flex align-items-center">
        <a href="#">
                <img class="rounded-circle" src="assets/img/landing-page/facebook-logo.png" alt="Second slide"
                     srcset="assets/img/landing-page/facebook-logo.png 1x,assets/img/landing-page/facebook-logo@2x.png 2x">
            </a>
        <h1>Gostou? Então nos ajude a compartilhar essa ideia, ah e não esquece de dar aquele like.</h1>
    </section>
</main>-->