<div class="dropdown">
    
    <a class="dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-bell text-warning" title="Notificações"></i>
        <span class="number">{{ model.length }}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown" *ngFor="let item of model">
        <div class="dropdown-item">
            <a [routerLink]="['/exchanges/detail/', item.resourceid]">
                <span>{{ item.title }}</span>
                <span>{{ item.msg }}</span>
            </a>
            <input (click)="markAsRead(item.id)" [checked]="item.readed" type="radio" title="Marcar como Lido" />
            <button (click)="delete(item.id)">Excluir</button>
        </div>
        <div class="dropdown-divider"></div>
    </div>

<div>