header {
    nav {
        height: 100px;
    }
}

.landing-itens-menu {   
    a {
        color: $primary-color;
        margin: 0 15px;
    }
}

.input-hide {
    transition: all .2s linear;
}

.itens-menu,
.login-mobile,
.login-desktop a {
    font-size: .9em;
    color: $primary-color;
    font-family: "Open Sans", "sans serif";
}

.login-desktop a {
    margin-right: 20px;
}

.login-mobile, 
.login-desktop {
    cursor: pointer;
}