<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- /.col-lg-3 -->
        <div class="col-lg-12">
            <div class="card mt-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li *ngFor="let img of model.imgs; let i = index" data-target="#carouselExampleIndicators" data-slide-to="i" [class.active]="i === 0"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" *ngFor="let img of model.imgs; let i = index" [class.active]="i === 0">
                            <img class="d-block card-img-top img-fluid img-asset-detail" src="/api/v1/file?id={{img}}" alt="Slide {{i}}"> <!-- 1120x440-->
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-block">
                    <h3 class="card-title">{{ model.name }}</h3>
                    <h4>{{ model.price | coin }}</h4>
                    <p class="card-text">{{ model.description }}</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars
                    <div class="d-flex justify-content-end">
                        <a [routerLink]="['/assets/edit', model.id]" class="btn btn-primary btn-lg" *ngIf="userService.isOwner(model.owner)">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <button type="button" class="btn btn-danger btn-lg ml-3" 
                                data-toggle="modal" data-target="#confirmDeletion" *ngIf="userService.isOwner(model.owner)">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                        <button type="button" class="btn btn-success btn-lg ml-3" *ngIf="!userService.isOwner(model.owner)">
                            <i class="fa fa-shopping-cart"></i> Exchange
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.card -->
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>mask
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
</div>
<!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="confirmDeletionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeletionLabel">XChanges</h5>
      </div>
      <div class="modal-body">
        Do you confirm the deletion?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>