<div class="row">
    <div class="col-xs-12 col-md-12">
        <h1>Login</h1>
            <div class="col-md-5">
                <div class="no-padding">
                    <label for="email">E-mail:</label>
                    <input id="email" name="email" type="text" class="form-control">
                
                    <label for="passwd">Password:</label>
                    <input id="passwd" name="passwd" type="password" class="form-control">
                </div>
            </div>
            <button class="btn btn-cadastro btn-primary btn-lg">Login</button>
    </div>
</div>