<div class="container mt-5">
	<div class="form-horizontal" role="form" [formGroup]="form" (keyup.enter)="submit(form)">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>Please Login</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 field-label-responsive">
				<label class="sr-only" for="email">E-Mail Address</label>
			</div>
			<div class="col-md-6">
				<validate [control]="form.controls['email']">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" id="email" class="form-control" placeholder="you@domain.com" formControlName="email">
                        </div>
                    </div>
                </validate>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 field-label-responsive">
				<label class="sr-only" for="password">Password</label>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
						<input type="password" class="form-control" id="password" placeholder="Password" formControlName="passwd">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="padding-top: .35rem">
				<div class="form-check mb-2 mr-sm-2 mb-sm-0">
					<label class="form-check-label">
						<input class="form-check-input" name="remember" type="checkbox" formControlName="rememberMe">
						<span style="padding-bottom: .15rem">Remember me</span>
					</label>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 1rem">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<button type="button" class="btn btn-success" (click)="submit(form)" [disabled]="!form.valid">
					<i class="fa fa-sign-in"></i> Login
				</button>
				<a class="btn btn-link" [routerLink]="['/login']">Forgot Your Password?</a>
			</div>
		</div>
	</div>
</div>
<notify [settings]="{ duration: 10 }"></notify>