<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="card card-block" >
                <h3 class="text-xs-center">Register Account</h3>
                <hr>
                <fieldset [disabled]="loading"> 
                    <div role="form" [formGroup]="form">
                        <validate label="Name" [control]="form.controls['name']">
                        <input type="text" class="form-control" formControlName="name" [(ngModel)]='model.name'>
                        </validate>

                        <validate label="E-mail" [control]="form.controls['email']">
                            <input type="text" class="form-control" formControlName="email" [(ngModel)]='model.email'>
                        </validate>

                        <validate label="Password" [control]="form.controls['passwd']">
                            <passwd formControlName="passwd" [(ngModel)]='model.passwd'></passwd>
                        </validate>
                        
                        <validate label="Confirm Password" [control]="form.controls['confirmPasswd']">
                            <input type="password" class="form-control" formControlName="confirmPasswd" [(ngModel)]='model.confirmPasswd'>
                        </validate>
                        <button class="btn btn-lg btn-primary btn-block" (click)="register()">
                            <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>Sign Me Up
                        </button>
                    </div>
                    <br />
                    <div class="text-center">
                            or <a [routerLink]="['/login']">Log-in</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

