<div class="container mt-5">
    <div class="form-horizontal" role="form" [formGroup]="model.form" (keyup.enter)="submit(model.form)">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label class="sr-only" for="name">Name</label>
            </div>
            <div class="col-md-6">
                <validate [control]="model.form.controls['name']">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" class="form-control" placeholder="Name" formControlName="name">
                        </div>
                    </div>
                </validate>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label class="sr-only" for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6">
                <validate [control]="model.form.controls['email']">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" class="form-control" placeholder="you@domain.com" formControlName="email">
                        </div>
                    </div>
                </validate>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label class="sr-only" for="password">Password</label>
            </div>
            <div class="col-md-6">
                <validate [control]="model.form.controls['passwd']">
                    <passwd placeholder="Password" formControlName="passwd"></passwd>
                </validate>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label class="sr-only" for="confirm">Confirm Password</label>
            </div>
            <div class="col-md-6">
                <validate [control]="model.form.controls['confirmPasswd']">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-repeat"></i></div>
                            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPasswd">
                        </div>
                    </div>
                </validate>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success" [disabled]="!model.form.valid" (click)="submit(model.form)">
                    <i class="fa fa-user-plus"></i> Register
                </button>
            </div>
        </div>
    </div>
</div>

        <alert [settings]="{closable: true, color: 'danger'}">
            <ul>
                <li>Teste</li>
            </ul>
        </alert>
