<div class="fileuploader" [class.fileuploader_multiple]="settings.multiple">
    <input class="form-control fileuploader__input" #fileInput type="file" [name]="name" 
           [multiple]="settings.maxNumberOfFiles > 1" [(ngModel)]="fileValue" (change)="onChange($event.target.files[0])">
    
    <span *ngIf="files.length && settings.viewCounter" class="fileuploader__count-uploaded">{{ files.length }} {{ langs.uploadedCounter }}</span>
    <div class="fileuploader__previews" *ngIf="files.length && settings.showPreview">
        <div *ngFor="let file of files; let i = index" class="fileuploader__item">
            <div class="fileuploader__thumb">
                <img class="img-thumbnail" id="{{ previewPrefix }}-{{ file.name }}-{{ file.size }}">
            </div>
            <div *ngIf="settings.showFilename" class="fileuploader__name">{{ file.name }}</div>
            <button type="button" class="btn btn-danger fileuploader__remove" (click)="removeFile(i)" [innerHtml]="langs.removeFile"></button>
        </div>
    </div>
    <button type="button" class="btn btn-{{ settings.size }} btn-{{ settings.color }}" (click)="showUploadDialog()" [innerHtml]="langs.addFileButton"></button>
    <button type="button" class="btn btn-success btn-{{ settings.size }}" *ngIf="!settings.autoupload" (click)="uploadInQueue()" [innerHtml]="langs.uploadButton"></button>
    <button type="button" class="btn btn-danger btn-{{ settings.size }}" (click)="clearAll()" *ngIf="files.length" [innerHtml]="langs.clearAllButton"></button>
</div>