<div class="container">
    <h1>Detalhes do Livro</h1>
    <div class="row">

        <div class="col-lg-12">
            <div class="card mt-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" *ngIf="model.asset.imgs.length > 1">
                        <li *ngFor="let img of model.imgs; let i = index" data-target="#carouselExampleIndicators" 
                             data-slide-to="i" [class.active]="i === 0">
                        </li>
                    </ol>
                    <div class="carousel-inner asset-detail-carousel" role="listbox">
                        <div class="carousel-item" *ngFor="let img of model.asset.imgs; let i = index" [class.active]="i === 0">
                            <img class="d-block card-img-top img-fluid mx-auto" src="/api/v1/file?filename={{img}}" alt="Slide {{i}}">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" *ngIf="model.asset.imgs.length > 1">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" *ngIf="model.asset.imgs.length > 1">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-block">
                    <h3 class="card-title">{{ model.asset.name }}</h3>
                    <h4>{{ model.asset.price | coin }}</h4>
                    <p class="card-text">{{ model.asset.description }}</p>
                    <span class="text-warning">Status:</span> {{ getStatus() }}
                    <span class="text-warning">Código de Rastreio:</span> {{ model.trackingCode }}
                    <span class="text-warning">Email do remetente:</span>
                    <span class="text-warning">Email do destinatário:</span>
                    <div class="d-flex justify-content-end">
                        <div class="input-group" *ngIf="showSend()">
                            <input type="text" class="form-control" placeholder="Código de Rastreio" 
                            aria-describedby="basic-addon2" #trackingCode (keyup.enter)="send(trackingCode.value)">
                            <button type="button" class="btn btn-success btn-lg ml-3" (click)="send(trackingCode.value)">
                                <i class="fa fa-paper-plane-o"></i> Enviar
                            </button>    
                        </div>
                        <button type="button" class="btn btn-success btn-lg ml-3" *ngIf="showReceive()" (click)="receive()">
                            <i class="fa fa-thumbs-o-up"></i> Receber
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
