<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- /.col-lg-3 -->
        <div class="col-lg-12">
            <div class="card mt-4">
                <div>
                    <vg-player (onPlayerReady)="onPlayerReady($event)" class="d-flex justify-content-center video-display">
                        <vg-overlay-play [vgFor]="video"></vg-overlay-play>
                        <video [vgMedia]="media" #media id="video1" preload="auto" controls>
                             <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                        </video>
                        <vg-controls  [vgFor]="video">
                             <vg-time-display [vgFor]="video" [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
                        </vg-controls>
                    </vg-player>
                </div>
                <div class="card-block">
                    <h3 class="card-title"> Get Credits</h3>
                    <p class="card-text">
                        To receive credits just see the ads of our partners. 
                        While you watch the videos, we will credit your account for the time-related credits.
                    </p>
                    <span class="text-info">{{ model.amount | coin }}</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-9 -->
    </div>
</div>
<!-- /.container -->