<!-- Page Content -->
<div class="container">

    <h1 class="title1">Ganhe Créditos</h1>

    <div class="row">

        <div class="col-sm-8 mb-5">

            <vg-player (onPlayerReady)="onPlayerReady($event)" class="d-flex justify-content-center video-display">
                <vg-overlay-play [vgFor]="video"></vg-overlay-play>
                <video [vgMedia]="media" #media id="video1" preload="auto" controls>
                        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                </video>
                <vg-controls [vgFor]="video">
                        <vg-time-display [vgFor]="video" [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
                </vg-controls>
            </vg-player>

        </div>

        <div class="col-sm-4 mb-5">

            <h2 class="title3">Get Credits</h2>
            <p class="card-text">To receive credits just see the ads of our partners. While you watch the videos, we will credit your account for the time-related credits.</p>
            <p class="card-price">{{ model.amount | coin }}</p>

        </div>

    </div>

</div>
<!-- /.container -->