<div class="container-fluid m-5">
  <div class="d-flex flex-column">
    <h2>New Asset</h2>
    <hr class="w-100">
  </div>
  <form>
  <div class="d-flex flex-row justify-content-between mt-3">
    <div class="d-flex flex-column w-50 mr-5">
      <div class="form-group">
        <label for="name" class="">Name</label>
        <input name="name"  type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="description" class="">Description</label>
        <editor name="description" [settings]="{color: 'primary', height: 100}"></editor>
      </div>
      <div class="form-group w-25">
        <label for="price" class="">Price</label>
        <spinner name="price" [settings]="{ color: 'primary', decimals: 2, step: 0.5 }"
                 [text-mask]="{ mask: mask }" [(ngModel)]="priceModel"
        ></spinner>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-save"></i> Save</button>
      </div>
    </div>
    <div class="d-flex flex-column w-50">
      <div class="form-group">
        <label for="fileupload">Upload images</label>
        <fileuploader name="fileupload" [settings]="{multiple: true, color: 'primary', allowedExtensions: ['jpg', 'jpeg', 'image/jpeg']}"></fileuploader>
      </div>
    </div>
  </div>
  </form>
</div>