<div class="container">
    <h1 class="title1">Adicionar Livro</h1>
    
    <div novalidate [formGroup]="form" class="row mt-5 mb-5" role="form">

      <div class="col-sm-6">

        <div class="form-group">
          <validate label="Nome:" [control]="form.controls['name']">
            <input type="text" class="form-control"  formControlName="name">
          </validate>
        </div>
        <div class="form-group">
          <validate label="Descrição:" [control]="form.controls['description']">
            <editor formControlName="description" [settings]="{color: 'primary', height: 100}"></editor>
          </validate>
        </div>
        <div class="form-group">
          <validate label="Preço:" [control]="form.controls['price']">
              <input type="text" class="form-control" formControlName="price" placeholder="$ 00.00" 
                     [masquerade]="{ mask: currencyMask, pipe: currencyPipe }">
          </validate>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="submit(form)"><i class="fa fa-save"></i> Adicionar</button>
        </div>

      </div>

      <div class="col-sm-6">
        
        <div class="form-group">
        
          <label for="fileupload" [class.text-danger]="form.controls.imgs.invalid && form.controls.imgs.dirty">Imagens:</label>
          <fileuploader [settings]="{ authToken: userService.user.token }" name="img"
                        (uploadDone)="uploadDone($event)" (uploadError)="uploadError()"
                        (remove)="remove($event)" (rejected)="rejected($event)">
          </fileuploader>
          <div *ngIf="form.controls.imgs.invalid && form.controls.imgs.dirty" class="form-control-feedback text-danger">Campo obrigatório</div>
        
        </div>

      </div>

<!--
  <div novalidate [formGroup]="form" role="form">
    <div class="d-flex flex-row justify-content-between mt-3">
      <div class="d-flex flex-column w-50 mr-5">
        <div class="form-group">
          <validate label="Name" [control]="form.controls['name']">
            <input type="text" class="form-control"  formControlName="name">
          </validate>
        </div>
        <div class="form-group">
          <validate label="Description" [control]="form.controls['description']">
            <editor formControlName="description" [settings]="{color: 'primary', height: 100}"></editor>
          </validate>
        </div>
        <div class="form-group w-25">
          <validate label="Price" [control]="form.controls['price']">
              <input type="text" class="form-control" formControlName="price" placeholder="$ 00.00" 
                     [masquerade]="{ mask: currencyMask, pipe: currencyPipe }">
          </validate>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="submit(form)"><i class="fa fa-save"></i> Adicionar</button>
        </div>
      </div>
      
      <div class="d-flex flex-column w-50">
        <div class="form-group">
          <label for="fileupload" [class.text-danger]="form.controls.imgs.invalid && form.controls.imgs.dirty">Imagens</label>
          <fileuploader [settings]="{ authToken: userService.user.token }" name="img"
                        (uploadDone)="uploadDone($event)" (uploadError)="uploadError()"
                        (remove)="remove($event)" (rejected)="rejected($event)">
          </fileuploader>
          <div *ngIf="form.controls.imgs.invalid && form.controls.imgs.dirty" class="form-control-feedback text-danger">Campo obrigatório</div>
        </div>
      </div>
      -->
    </div>
</div>