<div class="overlay" #overlay></div>
<nav class="menu-hide" #menu>
    <div class="menu-left container d-flex flex-column no-padding">
        <div class="menu-left-logo">
            <a href="#">
                <img src="assets/img/landing-page/logo-small.png" alt="Logo Exchange"
                     srcset="assets/img/landing-page/logo-small.png 1x,assets/img/landing-page/logo-small@2x.png 2x">
            </a>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">
                    <i class="fa fa-question" aria-hidden="true"></i>Quem Somos
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>Parceiros
                </a>
            </li>
            <li class="list-group-item">
                <a pageScroll [pageScrollDuration]="300" href="#assetList" [routerLink]="['/assets']" (click)="hideMenu()">
                    <i class="fa fa-book" aria-hidden="true"></i>Seus Itens
                </a>
            </li>
            <li class="list-group-item">
                <a pageScroll [pageScrollDuration]="300" href="#assetEdit" [routerLink]="['/assets/new']" (click)="hideMenu()">
                    <i class="fa fa-plus" aria-hidden="true"></i>Anunciar
                </a>
            </li>
            <li class="list-group-item">
                <a pageScroll [pageScrollDuration]="300" href="#exchange" [routerLink]="['/exchanges']" (click)="hideMenu()">
                    <i class="fa fa-exchange" aria-hidden="true"></i>Suas Trocas
                </a>
            </li>
            <li class="list-group-item">
                <a pageScroll [pageScrollDuration]="300" href="#credits" [routerLink]="['/credits']" (click)="hideMenu()">
                    <i class="fa fa-money" aria-hidden="true"></i>Ganhar Créditos
                </a>
            </li>
            <!--<li class="list-group-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Reclamar Pontos</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Configurações</a></li>-->
            <li class="list-group-item">
                <button (click)="logout()">
                    <i class="fa fa-power-off" aria-hidden="true"></i>Logout
                </button>
            </li>
        </ul>
    </div>
</nav>