<div class="overlay"></div>
<nav class="menu-hide" *ngIf="service.isLoggedIn()">
    <div class="menu-left container d-flex flex-column no-padding">
        <div class="menu-left-logo">
            <a href="#">
                <img src="assets/img/landing-page/logo-small.png" alt="Logo Exchange"
                     srcset="assets/img/landing-page/logo-small.png 1x,assets/img/landing-page/logo-small@2x.png 2x">
            </a>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-question" aria-hidden="true"></i>Quem Somos</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i>Parceiros</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-book" aria-hidden="true"></i>Seus Itens</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-exchange" aria-hidden="true"></i>Anunciar Livro</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-usd" aria-hidden="true"></i>Ganhar Pontos</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Reclamar Pontos</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Configurações</a></li>
            <li class="list-group-item"><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a></li>
        </ul>
    </div>
</nav>